* {  /*o sinal de * significa que todos os elementos vão receber esse estilo de CSS*/
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

:root{ /*Definir as variaveis de cores*/
    --white: #fff;
    --background: #F2F3F5;
    --gray-line: #DCDDE0;
    --text: #655555;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --red: #E83F5B;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;
}
/*Responsividade em relação aos tamanhos de tela*/
/*Menor do que 1080px de largura*/
@media (max-width:1080px){
    html{
        font-size:93.75%;
    }
}
@media (max-width:720px){ /*Tamanho abaixo de tablet*/
    html{
        font-size:87.5%;
    }
}

body{
    background: var(--background);
    color: var(--text);
}

body, input, textarea, button{
    font: 400 16px "Inter", sans-serif;
}

button{
    cursor: pointer; /*altera o cursor ao mover sobre o botao*/
}

a{
    color:inherit; /*Vai herdar aos links a cor do container dos links, para manter a mesma cor do texto*/
    text-decoration: none;
    
}

.container{

    height: 100vh; /*altura máxima*/
    max-width: 992px; /*Comprimento máximo do container e consequentemente da barrinha*/
    margin: 0 auto;
    padding: 2.5rem 2.5rem;
}

.experience-bar{
    display: flex;
    align-items: center;
}

.experience-bar span{ /*CSS aplicado apenas aos <span> dentro do elemento que possui a classe dada*/
    font-size: 1rem;
}

.experience-bar > div{ /*Aplica o CSS apenas ao primeiro nível de <div>, ou seja, à <div> mais externa*/

    flex:1; /*Ocupar a largura máxima do container*/
    height: 4px; /*não está em REM, ou seja, vai sempre ocupar o tamanho fixo*/
    border-radius: 4px; /*Arredondamento das bordas*/
    background: var(--gray-line);
    margin: 0 1.5rem; /*1.5rem de margem nas laterais*/
    position: relative;

    display: flex;
    flex-direction: column; /*Os próximos elementos após o experience bar devem vir abaixo dele*/

}

.experience-bar > div > div{ /*Aplica o CSS apenas no segundo nível de <div>*/

    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

span.current-experience{

    position: absolute;
    top: 12px;
    transform: translateX(-50%); /*Hack do CSS que quer centralizar um texto na âncora, ou seja, no ponto de partida. Subtrai 50% do tamanho do texto*/
}